In [14]:
import pandas as pd

In [20]:
df= pd.read_csv("C:/Users/Mr.R/Downloads/archivos_base_python_data_science_big_data_esencial/base_datos_2008.csv",nrows=10000)

In [21]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [22]:
df.tail(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
9990,2008,1,6,7,635.0,635,900.0,850,WN,2452,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9991,2008,1,6,7,1845.0,1720,2005.0,1835,WN,225,...,4.0,14.0,0,NaN,0,24.0,0.0,5.0,0.0,61.0
9992,2008,1,6,7,1644.0,1400,1753.0,1520,WN,2360,...,3.0,5.0,0,NaN,0,43.0,0.0,0.0,0.0,110.0
9993,2008,1,6,7,1220.0,1150,1649.0,1635,WN,2624,...,2.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9994,2008,1,6,7,900.0,905,1009.0,1025,WN,469,...,6.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9995,2008,1,6,7,2000.0,1955,2121.0,2115,WN,593,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9996,2008,1,6,7,1624.0,1620,1742.0,1740,WN,618,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9997,2008,1,6,7,1946.0,1805,2059.0,1930,WN,646,...,4.0,8.0,0,NaN,0,0.0,0.0,6.0,0.0,83.0
9998,2008,1,6,7,1549.0,1430,1706.0,1550,WN,656,...,3.0,6.0,0,NaN,0,0.0,48.0,0.0,0.0,28.0
9999,2008,1,6,7,1050.0,1050,1211.0,1210,WN,680,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [24]:
df=df.sample(frac=1)

In [25]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1216,2008,1,3,4,1049.0,1050,1316.0,1310,WN,3406,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
456,2008,1,3,4,703.0,705,808.0,810,WN,7,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6160,2008,1,5,6,1823.0,1815,2024.0,2025,WN,3331,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7946,2008,1,5,6,1839.0,1755,1903.0,1830,WN,490,...,5.0,8.0,0,NaN,0,2.0,0.0,0.0,0.0,31.0
5070,2008,1,4,5,611.0,610,720.0,725,WN,3250,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,2008,1,3,4,700.0,700,822.0,815,WN,224,...,7.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6325,2008,1,5,6,1809.0,1810,1852.0,1900,WN,1760,...,4.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7367,2008,1,5,6,1234.0,1235,1347.0,1400,WN,1066,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3239,2008,1,4,5,1144.0,1145,1439.0,1440,WN,434,...,5.0,34.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8105,2008,1,5,6,833.0,820,1052.0,1030,WN,414,...,6.0,30.0,0,NaN,0,0.0,0.0,22.0,0.0,0.0

In [26]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [27]:
df.DepTime

1216    1049.0
456      703.0
6160    1823.0
7946    1839.0
5070     611.0
         ...
1010     700.0
6325    1809.0
7367    1234.0
3239    1144.0
8105     833.0
Name: DepTime, Length: 10000, dtype: float64

In [28]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [29]:
df.values

array([[2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 5, ..., nan, nan, nan],
       ...,
       [2008, 1, 5, ..., nan, nan, nan],
       [2008, 1, 4, ..., nan, nan, nan],
       [2008, 1, 5, ..., 22.0, 0.0, 0.0]], dtype=object)

In [30]:
df2=df.head(10)

In [32]:
df2.head(12)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1216,2008,1,3,4,1049.0,1050,1316.0,1310,WN,3406,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
456,2008,1,3,4,703.0,705,808.0,810,WN,7,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6160,2008,1,5,6,1823.0,1815,2024.0,2025,WN,3331,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7946,2008,1,5,6,1839.0,1755,1903.0,1830,WN,490,...,5.0,8.0,0,NaN,0,2.0,0.0,0.0,0.0,31.0
5070,2008,1,4,5,611.0,610,720.0,725,WN,3250,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4496,2008,1,4,5,1926.0,1815,2211.0,2110,WN,1222,...,3.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,61.0
1083,2008,1,3,4,1503.0,1415,1729.0,1615,WN,237,...,5.0,50.0,0,NaN,0,8.0,0.0,26.0,0.0,40.0
852,2008,1,3,4,720.0,630,934.0,855,WN,339,...,3.0,8.0,0,NaN,0,39.0,0.0,0.0,0.0,0.0
9673,2008,1,6,7,1741.0,1735,1847.0,1905,WN,54,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3796,2008,1,4,5,1906.0,1755,41.0,2350,WN,3588,...,5.0,16.0,0,NaN,0,0.0,0.0,4.0,0.0,47.0

In [33]:
df["ArrDelay"].head()

1216     6.0
456     -2.0
6160    -1.0
7946    33.0
5070    -5.0
Name: ArrDelay, dtype: float64

In [35]:
df[3:10]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
7946,2008,1,5,6,1839.0,1755,1903.0,1830,WN,490,...,5.0,8.0,0,NaN,0,2.0,0.0,0.0,0.0,31.0
5070,2008,1,4,5,611.0,610,720.0,725,WN,3250,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4496,2008,1,4,5,1926.0,1815,2211.0,2110,WN,1222,...,3.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,61.0
1083,2008,1,3,4,1503.0,1415,1729.0,1615,WN,237,...,5.0,50.0,0,NaN,0,8.0,0.0,26.0,0.0,40.0
852,2008,1,3,4,720.0,630,934.0,855,WN,339,...,3.0,8.0,0,NaN,0,39.0,0.0,0.0,0.0,0.0
9673,2008,1,6,7,1741.0,1735,1847.0,1905,WN,54,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3796,2008,1,4,5,1906.0,1755,41.0,2350,WN,3588,...,5.0,16.0,0,NaN,0,0.0,0.0,4.0,0.0,47.0

In [40]:
df[df["ArrDelay"]=="ATL"].head()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [41]:
df[pd.isna(df["ArrDelay"])].head()=df2

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6643,2008,1,5,6,NaN,840,NaN,930,WN,626,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
1099,2008,1,3,4,NaN,1045,NaN,1205,WN,747,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
5067,2008,1,4,5,NaN,1940,NaN,2050,WN,1403,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
8934,2008,1,6,7,NaN,1650,NaN,1805,WN,1398,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
5336,2008,1,4,5,NaN,1050,NaN,1220,WN,553,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [42]:
len(df2)

10

In [43]:
df["HoursDelay"]= round(df["ArrDelay"])

In [44]:
df["HoursDelay"]

1216     6.0
456     -2.0
6160    -1.0
7946    33.0
5070    -5.0
        ...
1010     7.0
6325    -8.0
7367   -13.0
3239    -1.0
8105    22.0
Name: HoursDelay, Length: 10000, dtype: float64

In [47]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1216,2008,1,3,4,1049.0,1050,1316.0,1310,WN,3406,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
456,2008,1,3,4,703.0,705,808.0,810,WN,7,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6160,2008,1,5,6,1823.0,1815,2024.0,2025,WN,3331,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7946,2008,1,5,6,1839.0,1755,1903.0,1830,WN,490,...,5.0,8.0,0,NaN,0,2.0,0.0,0.0,0.0,31.0
5070,2008,1,4,5,611.0,610,720.0,725,WN,3250,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [46]:
del(df["HoursDelay"])

In [48]:
df2 = df.drop(["Year"],axis=1)

In [49]:
df2.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1216,1,3,4,1049.0,1050,1316.0,1310,WN,3406,N206WN,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
456,1,3,4,703.0,705,808.0,810,WN,7,N365SW,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6160,1,5,6,1823.0,1815,2024.0,2025,WN,3331,N728SW,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7946,1,5,6,1839.0,1755,1903.0,1830,WN,490,N332SW,...,5.0,8.0,0,NaN,0,2.0,0.0,0.0,0.0,31.0
5070,1,4,5,611.0,610,720.0,725,WN,3250,N706SW,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [50]:
df2.drop(range(0,10000))

Empty DataFrame
Columns: [Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 28 columns]

In [51]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1216,2008,1,3,4,1049.0,1050,1316.0,1310,WN,3406,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
456,2008,1,3,4,703.0,705,808.0,810,WN,7,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6160,2008,1,5,6,1823.0,1815,2024.0,2025,WN,3331,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7946,2008,1,5,6,1839.0,1755,1903.0,1830,WN,490,...,5.0,8.0,0,NaN,0,2.0,0.0,0.0,0.0,31.0
5070,2008,1,4,5,611.0,610,720.0,725,WN,3250,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN